<!DOCTYPE html>

<html ng-app="queryTestApp" ng-controller="QueryTestController as qtCtrl">

<head>
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="pageTitle"></title>

    <!-- Dependencies -->
    <script src="~/scripts/jquery-2.1.3.js"></script>
    <script src="~/scripts/angular.js"></script>
    
    <!-- Atims Web App -->
    <script src="~/tests/query-test.js"></script>

</head>

<body>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <p> {{info}} </p>
    </div>
</body>

</html>


